<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title><%= title %></title>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/global-style.css" rel="stylesheet">
	<style type="text/css">
		.board{
			width: 850px;
			float: left;
			border-right: 1px solid #ddd;
		}
		.board-header{
			border-bottom: 1px solid #ddd;
			padding: 15px 0;
			text-align: center;
			position: relative;
		}
		.board-header > .time{
			font-size: 28px;
		}
		.board-header > .user{
			position: absolute;
			top: 12px;
			padding-left: 45px;
			line-height: 35px;
		}
		.board-header > .user.left{
			left: 25px;
		}
		.board-header > .user.right{
			right: 25px;
		}
		.board-header > .user > .name{
			font-size: 20px;
		}
		.board-header > .user > .doll{
			width: 35px;
			height: 35px;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			margin-right: 10px;
			vertical-align: middle;
		}
		.board-header > .user > .doll.white{
			background-image: -ms-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -moz-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -o-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #F7F7F7), color-stop(1, #FFFFFF));
			background-image: -webkit-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: radial-gradient(circle farthest-corner at left top, #F7F7F7 0%, #FFFFFF 100%);
			box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
			-moz-box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
			-webkit-box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
		}
		.board-header > .user > .doll.black{
			background-image: -ms-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -moz-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -o-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #808080), color-stop(1, #000));
			background-image: -webkit-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: radial-gradient(circle farthest-corner at left top, #808080 0%, #000 100%);
			box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
			-moz-box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
			-webkit-box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
		}
		.board-wrap{
			background-color: #F8C91E;
			padding: 25px;
			margin: 25px;
		}
		.board-wrap:after{
			clear: both;
			display: table;
			content: " ";
		}
		.board-wrap > .board-row{
			width: 100%;
			border-top: 1px solid #000;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}
		.board-wrap > .board-row:after{
			clear: both;
			display: table;
			content: " ";
		}
		.board-wrap > .board-row > .board-cell{
			width: 5.555555555555556%;
			border-right: 1px solid #000;
			padding-bottom: 5.555555555555556%;
			float:left;
			position: relative;
		}
		.board-wrap > .board-row > .board-cell:last-child{
			border-right: 0;
		}
		.board-wrap > .board-row:last-child > .board-cell{
			border-bottom: 1px solid #000;
		}
		.board-wrap .doll{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: absolute;
			cursor: pointer;
		}
		.board-wrap .doll.ghost{
			opacity: 0;
		}
		.board-wrap .doll.ghost.on{
			opacity: 1;
		}
		.board-wrap .doll.top{
			top: -50%;
		}
		.board-wrap .doll.bottom{
			bottom: -50%;
		}
		.board-wrap .doll.left{
			left: -50%;
		}
		.board-wrap .doll.right{
			right: -50%;
		}
		.board-wrap .doll.white{
			background-image: -ms-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -moz-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -o-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #F7F7F7), color-stop(1, #FFFFFF));
			background-image: -webkit-radial-gradient(left top, circle farthest-corner, #F7F7F7 0%, #FFFFFF 100%);
			background-image: radial-gradient(circle farthest-corner at left top, #F7F7F7 0%, #FFFFFF 100%);
			box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
			-moz-box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
			-webkit-box-shadow: inset 0 0 8px #E8E8E8, 0px 0px 2px 1px #D4D4D4;
		}
		.board-wrap .doll.black{
			background-image: -ms-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -moz-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -o-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: -webkit-gradient(radial, left top, 0, left top, 827, color-stop(0, #808080), color-stop(1, #000));
			background-image: -webkit-radial-gradient(left top, circle farthest-corner, #808080 0%, #000 100%);
			background-image: radial-gradient(circle farthest-corner at left top, #808080 0%, #000 100%);
			box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
			-moz-box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
			-webkit-box-shadow: inset 0 0 8px #808080, 0px 0px 2px 1px #000;
		}
		.chat{
			position:absolute;
			right: 0;
			top: 0;
			width: 399px;
			height: 100%;
			padding-top: 170px;
			padding-bottom: 52px;
		}
		.chat-wrap{
			height: 100%;
			padding-bottom: 55px;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 5px 10px;
		}
		.chat-wrap > p{
			color: #333;
			word-break: break-all;
		}
		.chat-wrap > p.system{
			color: #008000;
		}
		.chat-wrap > p > strong{
			margin-right: 10px;
			color: #0067C7;
		}
		.chat-wrap > p > .time{
			color: #ccc;
			font-size: 12px;
			margin-left: 10px;
		}
		.chat-message{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 399px;
			border-top: 1px solid #ddd;
			padding: 10px 0;
			background: #fff;
		}
		.chat-message > input{
			border: 0;
			width: 100%;
			background: #fff;
			outline: none;
			padding: 6px 12px;
		}

		.user-list{
			position: absolute;
			top: 0;
			right: 0;
			width: 399px;
			padding: 0 15px;
			background: #fff;
			height: 170px;
			overflow-y: auto;
			border-bottom: 1px solid #ddd;
		}
		.user-list > ul{
			margin: 0;
			list-style: none;
			padding-left: 0;
		}
		.user-list > ul > li{
			position: relative;
			padding: 10px 0 10px 40px;
		}
		.user-list > ul > li > span.doll{
			position: absolute;
			top: 5px;
			left: 0;
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
		.user-list > ul > li > span.doll.white{
			background: #fff;
			border: 1px solid #E3E3E3;
		}
		.user-list > ul > li > span.doll.black{
			background: #000;
		}

		.container{
			position: relative;
			max-width: 1250px;
			width: 100%;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}

		.game-result-layer{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10000;
			background: rgba(0,0,0, 0.4);
			display: none;
		}
		.game-result-inner{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		.game-result-inner > .doll{
			width: 75px;
			height: 75px;
			border-radius: 50%;
			display: inline-block;
			-webkit-box-shadow: 0px 0px 20px -1px rgba(79,79,79,0.77);
			-moz-box-shadow: 0px 0px 20px -1px rgba(79,79,79,0.77);
			box-shadow: 0px 0px 20px -1px rgba(79,79,79,0.77);
		}
		.game-result-inner > .doll.white{
			background: #fff;
		}
		.game-result-inner > .doll.black{
			background: #000;
		}
		.game-result-inner > h1{
			font-weight: 300;
			color: rgba(255, 255, 255, 0.95);
		}

		@media (max-width: 768px){
			.board{
				width: 100%;
				overflow: hidden;
				margin-bottom: 50px;
			}
			.board-wrap{
				margin: 0;
				padding: 15px;
			}
			.board-header{
				padding: 10px 0;
			}
			.board-header > .time{
				font-size: 22px;
			}
			.board-header > .user{
				top: 10px;
				padding-left: 35px;
				line-height: 25px;
			}
			.board-header > .user.left{
				left: 5px;
			}
			.board-header > .user.right{
				right: 5px;
			}
			.board-header > .user > .name{
				font-size: 15px;
			}
			.board-header > .user > .doll{
				width: 25px;
				height: 25px;
			}
			.doll{
				width: 100%;
				height: 100%;
			}
			.chat{
				top: inherit;
				bottom: 0;
				width: 100%;
				height: 130px;
				position: fixed;
				z-index: 9999;
				padding-top: 0;
				background: rgba(0, 0, 0, 0.25);
				pointer-events: none;
			}
			.chat-wrap{
				height: 80px;
			}
			.chat-wrap > p > .time{
				color: #E4E4E4;
			}
			.chat-message{
				top: inherit;
				bottom: 0;
				width: 100%;
				position: fixed;
				z-index: 10000;
			}
			.user-list{
				width: 100%;
				height: 50px;
			}
			.user-list > ul{
				margin-top: 5px;
			}
			.user-list > ul > li{
				display: inline-block;
			}
			.user-list > ul > li:last-child{
				margin-left: 10px;
			}
		}
		@media (min-width: 768px){
			.board{
				min-height: 800px;
			}
			.board-wrap{
				box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
				-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
			}
		}
	</style>
</head>
<body>
<div class="container">
	<div class="board">
		<div class="board-header">
			<div class="user left" id="userBlack"></div>
			<div class="user right" id="userWhite"></div>
			<span id="timeMinute" class="time">00</span>:<span id="timeSecond" class="time">00</span>
		</div>
		<div class="board-wrap"></div>
	</div>
	<div class="chat">
		<div class="chat-wrap" id="chat"></div>
	</div>
	<div class="chat-message">
		<input type="text" id="msgForm" placeholder="메시지를 입력하세요...">
	</div>
	<div class="user-list">
		<ul id="userList"></ul>
	</div>
	<div style="display:table;clear:both;"></div>
</div>
<div class="game-result-layer" id="gameResultLayer">
	<div class="game-result-inner">
		<div id="gameResultDoll" class="doll"></div>
		<h1 id="gameResultMessage"></h1>
	</div>
</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript">
	var socket = io();
	var checkPageLeave = false;
	var turnCheck = true;
	var gameState = "ready";

	var nickname = "";

	var lastDollPosition;
	var dollColor = "";
	var gameStats = new Array(
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","","")
	);

	/** 진행시간 표시 **/
	var timeInterval;

	/** 보드판 판들기 **/
	function boardInit(){
		$(".board-wrap").empty();
		for(var x=0;x<18;x++){
			var $boardRow = $("<div class='board-row'>");
			for(var y=0;y<18;y++){
				if(y != 17){
					if(x != 17){
						$boardRow.append("<div class='board-cell'><div data-x='"+x+"' data-y='"+y+"' class='doll ghost top left "+dollColor+"'></div></div>");
					}else{
						$boardRow.append("<div class='board-cell'><div data-x='"+x+"' data-y='"+y+"' class='doll ghost top left "+dollColor+"'></div><div data-x='18' data-y='"+y+"' class='doll ghost bottom left "+dollColor+"'></div></div>");
					}
				}else{
					if(x != 17){
						$boardRow.append("<div class='board-cell'><div data-x='" + x + "' data-y='" + y + "' class='doll ghost top left "+dollColor+"'></div><div data-x='" + x + "' data-y='18' class='doll ghost top right "+dollColor+"'></div></div>");
					}else{
						$boardRow.append("<div class='board-cell'><div data-x='" + x + "' data-y='" + y + "' class='doll ghost top left "+dollColor+"'></div><div data-x='18' data-y='"+y+"' class='doll ghost bottom left "+dollColor+"'></div><div data-x='" + x + "' data-y='18' class='doll ghost top right "+dollColor+"'></div><div data-x='18' data-y='18' class='doll ghost bottom right "+dollColor+"'></div></div>");
					}
					
				}
			}
			$(".board-wrap").append($boardRow);
		}
	}

	/** 보드 게임 종료 **/
	function boardEnd(color, username){
		clearInterval(timeInterval);
		$("#gameResultLayer").css("display", "table").children(".doll").addClass(color);
		$("#gameResultDoll").addClass(color);
		$("#gameResultMessage").html(username+"님 승리!");
	}

	/** 방 입장 **/
	function joinRoom(){
		socket.emit('join_room',{'url':'<%= url %>', 'username': '<%= username %>'});
	}

	function boardJudgment(x, y, color, username){
		var goalCnt = 0;

		//수평 오른쪽방향 검사 →
		for(var i=0; i<19; i++){
			if(typeof gameStats[x][y+i] != "undefined"){
				if(gameStats[x][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x][y-1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//수평 왼쪽방향 검사 ←
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(typeof gameStats[x][y-i] != "undefined"){
				if(gameStats[x][y-i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x][y+1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//수직 아래쪽방향 검사 ↓
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x == 18) break;
			if(typeof gameStats[x+i][y] != "undefined"){
				if(gameStats[x+i][y] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(x != 0 && gameStats[x-1][y] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//수직 위쪽방향 검사 ↑
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x-i < 0) break;
			if(typeof gameStats[x-i][y] != "undefined"){
				if(gameStats[x-i][y] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x+1][y] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//대각선 오른쪽 아래방향 검사 ↘
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(y == 18 || x == 18) break;
			if(typeof gameStats[x+i][y+i] != "undefined"){
				if(gameStats[x+i][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x-1][y-1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//대각선 오른쪽 위에방향 검사 ↗
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x-i < 0) break;
			if(typeof gameStats[x-i][y+i] != "undefined"){
				if(gameStats[x-i][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x+1][y-1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//대각선 왼쪽 위에방향 검사 ↖
		goalCnt = 0;
		for(var i=0; i<19; i++) {
			if (x - i < 0) break;
			if (typeof gameStats[x - i][y - i] != "undefined") {
				if (gameStats[x - i][y - i] == color) {
					goalCnt++;
				} else {
					break;
				}
				if (goalCnt == 5) {
					if(gameStats[x+1][y+1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}

		//대각선 왼쪽 아래방향 검사 ↙
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x == 18 || y == 0) break;
			if(typeof gameStats[x+i][y-i] != "undefined"){
				if(gameStats[x+i][y-i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x-1][y+1] == color) break;
					boardEnd(color, username);
					break;
					return false;
				}
			}
		}
	}

	/** 페이지 나갈시 경고창 띄우기 **/
	$(window).on("beforeunload", function(){
		if(checkPageLeave) return "게임에 참여중입니다.\n페이지를 나가게되면 게임에서 나가게됩니다.";
	});

	$(function(){
		$("#msgForm").keyup(function(event) {
			if (event.which == 13) {
				if($("#msgForm").val() != "") {
					socket.emit('send_msg', {msg: $("#msgForm").val()});
					$('#msgForm').val("");
				}
			}
		});
		joinRoom();
	});

	$(document).on("mouseenter", ".ghost", function(){
		$(this).addClass("on");
	});

	$(document).on("mouseleave", ".ghost", function(){
		$(this).removeClass("on");
	});

	/** 돌 두기 **/
	$(document).on("click", ".ghost", function(){
		if(gameState == "start"){
			var x = $(this).data("x");
			var y = $(this).data("y");
			socket.emit('doll_put',{'x':x,'y':y,'doll_color':dollColor});
		}
	});

	/** 게임상황 처리 **/
	socket.on('state_game', function(data){
		gameState = data.state;
		if(data.state == "stop"){
			clearInterval(timeInterval);
			$("#timeSecond").html("00");
			$("#timeMinute").html("00");
			var $message = $("<p class='system'>게임이 중지되었습니다.<span class='time'>"+data.time+"</span></p>");
			$("#chat").append($message);
			setTimeout(function(){
				$message.fadeOut(function(){
					$message.remove();
				});
			},10000);
		}else if(data.state == "start"){
			timeInterval = setInterval(function(){
				var second = parseInt($("#timeSecond").text());
				var minute = parseInt($("#timeMinute").text());
				second++;
				if(second == 60){
					$("#timeSecond").html("00");
					minute++;
					if(minute < 10){
						$("#timeMinute").html("0"+minute);
					}else{
						$("#timeMinute").html(minute);
					}
				}else{
					if(second < 10){
						$("#timeSecond").html("0"+second);
					}else{
						$("#timeSecond").html(second);
					}
				}
			},1000);
			var $message = $("<p class='system'>게임이 시작되었습니다.<span class='time'>"+data.time+"</span></p>");
			$("#chat").append($message);
			setTimeout(function(){
				$message.fadeOut(function(){
					$message.remove();
				});
			},10000);
		}
	});

	/** 방 초기화 **/
	socket.on('init_game',function(data){
		console.log(data);
		if(data.result){
			checkPageLeave = true;
			dollColor = data.doll_color;
			//boardInit();
		}else{
			alert("존재하지 않는 방입니다.");
			history.back();
		}
	});

	/** 사용자 목록 업데이트 **/
	socket.on('room_user_list',function(data){
		for(var i=0; i < data.users.length; i++){
			if(data.users[i].type == "black"){
				$("#userBlack").html("<span class='doll black'></span><span class='name'>"+data.users[i].nickname+"</span>");
			}else if(data.users[i].type == "white"){
				$("#userWhite").html("<span class='doll white'></span><span class='name'>"+data.users[i].nickname+"</span>");
			}
		}

	});

	socket.on('disconnect', function(data){
		alert("서버와 접속이 끊겼습니다.");
		clearInterval(timeInterval);
		location.href = "/";
	});

	/** 사용자 퇴장 처리 **/
	socket.on('del_room_user',function(data){
		if(data.type == "black"){
			$("#userBlack").empty();
		}else{
			$("#userWhite").empty();
		}
	});

	/** 돌 처리 **/
	socket.on('doll_receive',function(data){
		var $cell = $(".board-wrap").children(".board-row").eq(data.x).children(".board-cell").eq(data.y).children(".doll").eq(0);
		if(data.x == 18 && data.y != 18){
			$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(data.y).children(".doll").eq(1);
		}
		if(data.y == 18){
			if(data.x == 18){
				$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(17).children(".doll").eq(3);
			}else if(data.x == 17){
				$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(17).children(".doll").eq(2);
			}else{
				$cell = $(".board-wrap").children(".board-row").eq(data.x).children(".board-cell").eq(data.y-1).children(".doll").eq(1);
			}
		}
		if($cell.hasClass("white")){
			if(data.doll_color == "black"){
				$cell.removeClass("white").addClass("black");
			}
			$cell.removeClass("ghost");
		}else{
			if(data.doll_color == "white"){
				$cell.removeClass("black").addClass("white");
			}
			$cell.removeClass("ghost");
		}
		gameStats[data.x][data.y] = data.doll_color;
		boardJudgment(data.x, data.y, data.doll_color, data.username);
	});

	/** 채팅메시지 처리 **/
	socket.on('broadcast_msg',function(data){
		if(data.type == "message"){
			$("#chat").append("<p><strong class='name'>"+data.username+"</strong> "+data.msg+"<span class='time'>"+data.time+"</span></p>");
		}else if(data.type == "system"){
			var $message = $("<p class='system'>"+data.msg+"<span class='time'>"+data.time+"</span></p>");
			$("#chat").append($message);
			setTimeout(function(){
				$message.fadeOut(function(){
					$message.remove();
				});
			},5000);
		}
		setTimeout(function(){
			$("#chat").scrollTop($("#chat").prop("scrollHeight"));
		},100);
	});
</script>
</body>
</html>