<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title><%= title %></title>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/global-style.css" rel="stylesheet">
	<style type="text/css">
		.board{
			width: 850px;
			float: left;
			border-right: 1px solid #ddd;
		}
		.board-header{
			border-bottom: 1px solid #ddd;
			padding: 15px 0;
			text-align: center;
			font-size: 28px;
		}
		.board-wrap{
			background-color: #F8C91E;
			padding: 25px;
			margin: 25px;
		}
		.board-wrap:after{
			clear: both;
			display: table;
			content: " ";
		}
		.board-wrap > .board-row{
			width: 100%;
			border-top: 1px solid #000;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}
		.board-wrap > .board-row:after{
			clear: both;
			display: table;
			content: " ";
		}
		.board-wrap > .board-row > .board-cell{
			width: 5.555555555555556%;
			border-right: 1px solid #000;
			padding-bottom: 5.555555555555556%;
			float:left;
			position: relative;
		}
		.board-wrap > .board-row > .board-cell:last-child{
			border-right: 0;
		}
		.board-wrap > .board-row:last-child > .board-cell{
			border-bottom: 1px solid #000;
		}
		.doll{
			width: 41px;
			height: 41px;
			border-radius: 50%;
			position: absolute;
			cursor: pointer;
		}
		.doll.ghost{
			opacity: 0;
		}
		.doll.ghost.on{
			opacity: 1;
		}
		.doll.top{
			top: -21px;
		}
		.doll.bottom{
			bottom: -21px;
		}
		.doll.left{
			left: -21px;
		}
		.doll.right{
			right: -21px;
		}
		.doll.white{
			background-color: #eee;
		}
		.doll.black{
			background-color: #000;
		}
		.chat{
			position:absolute;
			right: 0;
			top: 0;
			width: 399px;
			height: 100%;
		}
		.chat-wrap{
			height: 100%;
			padding-bottom: 55px;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 5px 10px;
		}
		.chat-wrap > p{
			color: #333;
		}
		.chat-wrap > p > strong{
			margin-right: 10px;
		}
		.chat-wrap > p > .time{
			color: #ccc;
			font-size: 12px;
			margin-left: 10px;
		}
		.chat-message{
			position: absolute;
			bottom: 0;
			width: 100%;
			border-top: 1px solid #ddd;
			padding: 10px 0;
			background: #fff;
		}
		.chat-message > input{
			border: 0;
			width: 100%;
			background: #fff;
			outline: none;
			padding: 6px 12px;
		}

		.container{
			position: relative;
			max-width: 1250px;
			width: 100%;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="board" style="min-height:800px;">
		<div class="board-header">
			<!--<span id="timeMinute">00</span>:<span id="timeSecond">00</span>-->
		</div>
		<div class="board-wrap"></div>
	</div>
	<div class="chat">
		<div class="chat-wrap" id="chat"></div>
		<div class="chat-message">
			<input type="text" id="msgForm" placeholder="메시지를 입력하세요...">
		</div>
	</div>
	<div class="user-list">

	</div>
	<div style="display:table;clear:both;"></div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript">
	var checkPageLeave = false;
	var turnCheck = true;

	var nickname = "";

	var lastDollPosition;
	var dollColor = "white";
	var gameStats = new Array(
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","",""),
			new Array("","","","","","","","","","","","","","","","","","","")
	);

	/** 진행시간 표시 **/
	var timeInterval = setInterval(function(){
		var second = parseInt($("#timeSecond").text());
		var minute = parseInt($("#timeMinute").text());
		second++;
		if(second == 60){
			$("#timeSecond").html("00");
			minute++;
			if(minute < 10){
				$("#timeMinute").html("0"+minute);
			}else{
				$("#timeMinute").html(minute);
			}
		}else{
			if(second < 10){
				$("#timeSecond").html("0"+second);
			}else{
				$("#timeSecond").html(second);
			}
		}
	},1000);

	/** 보드판 판들기 **/
	function boardInit(){
		for(var x=0;x<18;x++){
			var $boardRow = $("<div class='board-row'>");
			for(var y=0;y<18;y++){
				if(y != 17){
					if(x != 17){
						$boardRow.append("<div class='board-cell'><div data-x='"+x+"' data-y='"+y+"' class='doll ghost top left "+dollColor+"'></div></div>");
					}else{
						$boardRow.append("<div class='board-cell'><div data-x='"+x+"' data-y='"+y+"' class='doll ghost top left "+dollColor+"'></div><div data-x='18' data-y='"+y+"' class='doll ghost bottom left "+dollColor+"'></div></div>");
					}
				}else{
					if(x != 17){
						$boardRow.append("<div class='board-cell'><div data-x='" + x + "' data-y='" + y + "' class='doll ghost top left "+dollColor+"'></div><div data-x='" + x + "' data-y='18' class='doll ghost top right "+dollColor+"'></div></div>");
					}else{
						$boardRow.append("<div class='board-cell'><div data-x='" + x + "' data-y='" + y + "' class='doll ghost top left "+dollColor+"'></div><div data-x='18' data-y='"+y+"' class='doll ghost bottom left "+dollColor+"'></div><div data-x='" + x + "' data-y='18' class='doll ghost top right "+dollColor+"'></div><div data-x='18' data-y='18' class='doll ghost bottom right "+dollColor+"'></div></div>");
					}
					
				}
			}
			$(".board-wrap").append($boardRow);
		}
	}

	/** 보드 게임 종료 **/
	function boardEnd(){
		clearInterval(timeInterval);
	}

	/** 닉네임 설정 **/
	function nicknameInit(){
		if($("#nickname").val() != ""){
			nickname = $("#nickname").val();
			socket.emit('nickname_init',{'nickname':nickname});
			$("#nicknameForm").fadeOut();
		}
		createRoom();
	}

	/** 방 입장 **/
	function joinRoom(){
		socket.emit('join_room',{'url':'<%= url %>', 'username': '<%= username %>'});
	}

	function boardJudgment(x, y, color){
		var goalCnt = 0;

		//수평 오른쪽방향 검사 →
		for(var i=0; i<19; i++){
			if(typeof gameStats[x][y+i] != "undefined"){
				if(gameStats[x][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x][y-1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//수평 왼쪽방향 검사 ←
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(typeof gameStats[x][y-i] != "undefined"){
				if(gameStats[x][y-i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x][y+1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//수직 아래쪽방향 검사 ↓
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x == 18) break;
			if(typeof gameStats[x+i][y] != "undefined"){
				if(gameStats[x+i][y] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(x != 0 && gameStats[x-1][y] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//수직 위쪽방향 검사 ↑
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x-i < 0) break;
			if(typeof gameStats[x-i][y] != "undefined"){
				if(gameStats[x-i][y] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x+1][y] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//대각선 오른쪽 아래방향 검사 ↘
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(y == 18 || x == 18) break;
			if(typeof gameStats[x+i][y+i] != "undefined"){
				if(gameStats[x+i][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x-1][y-1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//대각선 오른쪽 위에방향 검사 ↗
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x-i < 0) break;
			if(typeof gameStats[x-i][y+i] != "undefined"){
				if(gameStats[x-i][y+i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x+1][y-1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//대각선 왼쪽 위에방향 검사 ↖
		goalCnt = 0;
		for(var i=0; i<19; i++) {
			if (x - i < 0) break;
			if (typeof gameStats[x - i][y - i] != "undefined") {
				if (gameStats[x - i][y - i] == color) {
					goalCnt++;
				} else {
					break;
				}
				if (goalCnt == 5) {
					if(gameStats[x+1][y+1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}

		//대각선 왼쪽 아래방향 검사 ↙
		goalCnt = 0;
		for(var i=0; i<19; i++){
			if(x == 18 || y == 0) break;
			if(typeof gameStats[x+i][y-i] != "undefined"){
				if(gameStats[x+i][y-i] == color){
					goalCnt++;
				}else{
					break;
				}
				if(goalCnt == 5){
					if(gameStats[x-1][y+1] == color) break;
					alert("!!");
					break;
					return false;
				}
			}
		}
	}

	/** 페이지 나갈시 경고창 띄우기 **/
	$(window).on("beforeunload", function(){
		if(checkPageLeave) return "게임에 참여중입니다.\n페이지를 나가게되면 게임에서 나가게됩니다";
	});

	$(function(){
		$("#msgForm").keyup(function(event) {
			if (event.which == 13) {
				if($("#msgForm").val() != "") {
					socket.emit('send_msg', {msg: $("#msgForm").val()});
					$('#msgForm').val("");
				}
			}
		});
		joinRoom();
	});

	$(document).on("mouseenter", ".ghost", function(){
		$(this).addClass("on");
	});

	$(document).on("mouseleave", ".ghost", function(){
		$(this).removeClass("on");
	});

	$(document).on("click", ".ghost", function(){
		//$(this).removeClass("ghost");
		var x = $(this).data("x");
		var y = $(this).data("y");
		//gameStats[x][y] = "white";
		socket.emit('doll_put',{'x':x,'y':y,'doll_color':dollColor});
	});

	var socket = io();

	socket.on('omok_init',function(data){
		checkPageLeave = true;
		dollColor = data.doll_color;
		//boardInit();
	});

	/** 돌 처리 **/
	socket.on('doll_receive',function(data){
		var $cell = $(".board-wrap").children(".board-row").eq(data.x).children(".board-cell").eq(data.y).children(".doll").eq(0);
		if(data.x == 18 && data.y != 18){
			$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(data.y).children(".doll").eq(1);
		}
		if(data.y == 18){
			if(data.x == 18){
				$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(17).children(".doll").eq(3);
			}else if(data.x == 17){
				$cell = $(".board-wrap").children(".board-row").eq(17).children(".board-cell").eq(17).children(".doll").eq(2);
			}else{
				$cell = $(".board-wrap").children(".board-row").eq(data.x).children(".board-cell").eq(data.y-1).children(".doll").eq(1);
			}
		}
		if($cell.hasClass("white")){
			if(data.doll_color == "black"){
				$cell.removeClass("white").addClass("black");
			}
			$cell.removeClass("ghost");
		}else{
			if(data.doll_color == "white"){
				$cell.removeClass("black").addClass("white");
			}
			$cell.removeClass("ghost");
		}
		gameStats[data.x][data.y] = data.doll_color;
		boardJudgment(data.x, data.y, data.doll_color);
	});

	/** 채팅메시지 처리 **/
	socket.on('broadcast_msg',function(data){
		console.log("!");
		if(data.type == "message"){
			$("#chat").append("<p><strong class='name'>"+data.username+"</strong> "+data.msg+"<span class='time'>"+data.time+"</span></p>");
		}else if(data.type == "notify"){
			var $message = $("<p>"+data.msg+"</p>");
			$("#chat").append($message);
			setTimeout(function(){
				$message.fadeOut(function(){
					$message.remove();
				});
			},5000);
		}
		setTimeout(function(){
			$("#chat").scrollTop($("#chat").prop("scrollHeight"));
		},100);
	});
</script>
</body>
</html>