<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>omok</title>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="css/global-style.css" rel="stylesheet">
	<style type="text/css">
		.nickname-input-wrap{
			position: fixed;
			z-index: 9999;
			background-color: #fff;
			display: table;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.nickname-input-inner{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		.nickname-input-inner input{
			border: 1px solid rgba(0, 0, 0, .20);
			color: rgba(0, 0, 0, 1);
			font-size: 17px;
			height: 42px;
			padding: 0 16px;
			width: 245px;
			border-radius: 4px;
			outline: none;
		}
		.nickname-input-inner input:focus{
			border: 1px solid #0084ff;
		}
		.logo-title{
			font-family: 'Open Sans';
			-webkit-font-smoothing: antialiased;
			color: rgba(0, 0, 0, 1);
			margin-bottom: 40px;
			font-size: 45px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 28px;
		}
		.logo-message{
			color: #000;
			font-size: 16px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
<h1>Room List</h1>
<ul class="room-list" id="roomList">

</ul>
<div>
	<input type="text" id="title" name="title" placeholder="방제목">
	<input type="password" id="passwd" name="passwd" placeholder="비공개 방 비밀번호">
	<button type="button" onclick="createRoom()">확인</button>
</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript">
	var socket = io();

	socket.emit('join_lobby');

	socket.on('list_room',function(data){
		console.log(data);
		$("#roomList").empty();
		for(var i=0; i < data.rooms.length; i++ ){
			$("#roomList").append("<li><a href='/game/"+data.rooms[i].url+"'>"+data.rooms[i].title+"</a></li>");
		}
	});

	$(document).on("click", "#roomList > li", function(){

	});

	function createRoom(){
		var url = makeUrl();
		var data = {
			"url": url,
			"title": $("#title").val(),
			"passwd" : $("#passwd").val()
		}
		socket.emit('create_room', data);
		setTimeout(function(){
			location.href = "/game/"+url;
		},500);
	}

	function makeUrl(){
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		for( var i=0; i < 6; i++ ) text += possible.charAt(Math.floor(Math.random() * possible.length));

		return text;
	}
</script>
</body>
</html>