<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>omok</title>
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="css/global-style.css" rel="stylesheet">
	<style type="text/css">
		.wrap{
			position: absolute;
			background-color: #fff;
			display: table;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.inner{
			display: table-cell;
			vertical-align: middle;
		}
		.room{
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
			position: relative;
		}
		.room > .room-header{
			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;
			position: relative;
		}
		.room > .room-header > h1{
			color: #6A6E74;
			font-size: 26px;
			margin: 0;
		}
		.room > .room-header > button{
			position: absolute;
			top: -4px;
			right: 0;
			outline: none;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
			background-color: #6bb933;
			border: 1px solid;
			border-radius: 2px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			box-sizing: content-box;
			border-color: #60a62e #519f18 #409701;
			padding: 6px 12px;
		}
		.room > .room-header .user-cnt{
			margin-left: 16px;
			right: 5px;
			bottom: 5px;
			font-size: 12px;
		}
		.room-list{
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
		.room-list > li{
			position: relative;
		}
		.room-list > li.message{
			padding: 45px 15px;
			color: #969BA5;
			font-size: 16px;
			text-align: center;
			background-color: #fff!important;
		}
		.room-list > li > a{
			display: block;
			padding: 30px 0 30px 10px;
			color: #333;
			text-decoration: none;
			font-size: 16px;
		}
		.room-list > li > span{
			position: absolute;
			right: 8px;
			top: 30px;
			color: #aaa;
			font-size: 12px;
			pointer-events: none;
		}
		.room-list > li:hover{
			background-color: #f4f4f4;
		}

		@media (max-width: 768px){
			.wrap, .inner{
				display: block;
			}
			.inner{
				margin-top: 15px;
			}
			.room{
				padding: 0 15px;
			}
		}
	</style>
</head>
<body>
<div class="wrap">
	<div class="inner">
		<div class="room">
			<div class="room-header">
				<h1>방목록<span class="user-cnt">대기사용자 : <span id="userCnt">0</span>명</span></h1>
				<button type="button" onclick="$('#createRoomLayout').css('display','table');">방만들기</button>
			</div>
			<ul class="room-list" id="roomList"></ul>
		</div>
	</div>
</div>
<div class="modal" id="createRoomLayout">
	<div class="modal-inner">
		<div class="modal-content" style="text-align:center;">
			<button type="button" class="close" onclick="$('#createRoomLayout').hide()" title="닫기">×</button>
			<h1 class="title" style="text-align:left;">방만들기</h1>
			<input class="form-control block" type="text" id="title" name="title" placeholder="방제목">
			<input class="form-control block" style="margin-top:10px;" type="password" id="password" name="password" placeholder="비공개 방 비밀번호">
			<button type="button" style="margin:25px 0;" class="btn-white" onclick="createRoom()">확인</button>
		</div>
	</div>
</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript">
	var socket = io();

	socket.emit('join_lobby', {"username": "<%= username %>"});

	//최초 방목록 가져오기
	socket.on('list_room',function(data){
		console.log(data);
		$("#roomList").empty();
		if(data.rooms.length != 0){
			for(var i=0; i < data.rooms.length; i++ ){
				$("#roomList").append("<li data-url='"+data.rooms[i].url+"'><a href='/game/"+data.rooms[i].url+"' title='"+data.rooms[i].title+"'>"+data.rooms[i].title+"</a><span class='username'>방장 : "+data.rooms[i].username+" / "+data.rooms[i].time+"</span></li>");
			}
		}else{
			$("#roomList").append("<li class='message'>생성된 방이 없습니다.</li>");
		}
	});

	//새로 추가된 방 업데이트
	socket.on('add_list_room',function(data){
		console.log(data);
		$("#roomList").children(".message").remove();
		$("#roomList").append("<li data-url='"+data.room.url+"'><a href='/game/"+data.room.url+"' title='"+data.room.title+"'>"+data.room.title+"</a><span class='username'>방장 : "+data.room.username+" / "+data.room.time+"</span></li>");
	});

	//제거된 방 업데이트
	socket.on('del_list_room',function(data){
		$("#roomList").find("li[data-url='"+data.url+"']").remove();
		if($("#roomList").children("li").length == 0){
			$("#roomList").append("<li class='message'>생성된 방이 없습니다.</li>");
		}
	});

	//방생성 결과 응답
	socket.on('res_create_room',function(data){
		if(data.result){
			location.href = "/game/"+data.url;
		}else{
			alert("방 생성에 실패하였습니다.\n다시 시도해주세요");
		}
	});

	//대기자수 업데이트
	socket.on('lobby_usercnt',function(data){
		$("#userCnt").html(data.cnt);
	});

	function createRoom(){
		if($("#title").val() == ""){
			alert("방제목을 입력해주세요");
			$("#title").focus();
			return;
		}
		var data = {
			"username" : "<%= username %>",
			"title": $("#title").val(),
			"password" : $("#password").val()
		}
		socket.emit('create_room', data);
	}

	$(document).on("click", ".modal-inner", function(e){
		console.log($(e.target));
		if( e.target !== this ) return;
		$(this).parent().hide();
	});
</script>
</body>
</html>