html{
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Noto Sans","¸¼Àº°íµñ","Malgun Gothic","Apple SD Gothic Neo","µ¸¿ò",dotum,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button:hover{
    cursor: pointer;
}